html, body {
    min-height: 100%;
}

body {
    background-color: #ACC0C1;
}

.container {
    position: relative;
    max-width: 400px;
    margin: 0 auto;
}

@media (min-width: 450px) {
    .container {
        box-shadow: 1px 1px 20px #666;
    }
}

.level {
    position: relative;
    min-width: 320px;
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
}

.level_0 {
    background-image: url(../img/level_0_bg.jpg);
    height: 180px;
    position: relative;
}

.level_0:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/logo.png) no-repeat center 25px;
    background-size: contain;
    pointer-events: none;
}

.level_1 {
    background-image: url(../img/level_1_bg.png);
    height: 235px;
}

.level_2 {
    background-image: url(../img/level_2_bg.png);
    height: 235px;
}

.level_3 {
    background-image: url(../img/level_3_bg.png);
    height: 235px;
}

.level_4 {
    background-image: url(../img/level_4_bg.png);
    height: 75px;
}

.door {
    position: absolute;
    bottom: 0;
    background: url(../img/door.png) no-repeat top left;
    width: 64px;
    height: 100px;

    cursor: pointer;
}

.door_locked {
    background: url(../img/door_locked.png) no-repeat top left;
}

.door_disabled {
    opacity: .7;
}

.door_level_0 {
    right: 2%;
}

.door_level_1 {
    left: 2%;
}

.door_level_2 {
    right: 2%;
}

.box {
    position: absolute;
    left: 10%;
    bottom: 0;

    background: url('../img/box.png') no-repeat top left;
    width: 32px;
    height: 32px;

    cursor: pointer;
}

.popup {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;

    background-color: rgba(0,0,0,.3);
    transition: opacity .3s;

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup_hidden {
    pointer-events: none;
    opacity: 0;
}

.popup__content {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 400px;

    background: #000 url(../img/door_level_0.jpg) no-repeat center;
    background-size: cover;
}

.popup__close {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    color: #fff;

    cursor: pointer;
}

.popup__content_level_0 {
    /* Можно поставить какую-нибудь свою картинку двери на бек */
}

.popup__content_level_1 {
    /* Можно поставить какую-нибудь свою картинку двери на бек */
}

.popup__content_level_2 {
    /* Можно поставить какую-нибудь свою картинку двери на бек */
}
.popup__content_level_3 {
    background-image: url(../img/door__box.png);
    background-size: contain;
}

.door-riddle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.popup_level_0 .door-riddle__inner {
    display: flex;
    justify-content: center;
    padding: 40px 0;
    border-radius: 50%;
}

.door-riddle__inner_flex {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 320px;
    flex-wrap: wrap;
    padding: 0 !important;

}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}

.door-riddle__timer {
    position: absolute;
    top: 50px;
    width: 100%;
    font-size: 24px;
    color: #fff;
    text-align: center;
}

.door-riddle__timer__text {
    color: red;
}

.door-riddle__inner_flex .door-riddle__inner__item {
    width: 100px;
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}


.door-riddle__button {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    background-color: #583319;
    border: 1px solid #F3E9E0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
    transition: background-color .3s;
}

.door-riddle__button_selected {
    background-color: red;
}

/* new styles */

.hidden {
    display: none !important;
}

.door-riddle__inner {
    width: 100%;
    padding: 0 20px;
}

.door-riddle__line__inner {
    position: relative;
    border: 1px solid #eee;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 50px;
    padding: 5px;
}

.popup_level_3 .door-riddle__button {
    position: relative;
    z-index: 3;
}

.door-riddle__button_center {
    margin: 0 auto;
}

.door-riddle__circle {
    position: absolute;
    top: 150px;
    width: 240px;
    height: 240px;
    left: 50%;
    transform: rotate(45deg);
    z-index: 999;
    right: 0;
    margin-left: -120px;
    z-index: 2;
}
.door-riddle__icon_rotate {
    width: 100% !important;
    height: 100% !important;
    top: 0;
    left: 0;
    padding: 60px;
    box-sizing: border-box;

    animation: iconRotateContainer 80s linear infinite;
}

.door-riddle__icon_rotate .door-riddle__icon__inner {
    background: url('../img/icon-rotate.svg') top center no-repeat;
    width: 40px;
    height: 40px;
    background-size: 100%;
    transform: rotate(-45deg);

    animation: iconRotate 80s linear infinite;
}

@keyframes iconRotate {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(-3600deg);
  }
}

@keyframes iconRotateContainer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(3600deg);
  }
}

.door-riddle__button_circle {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
}

.door-riddle__button_pressed {
    background-color: #F3E5D9;
}

.boom,
.boom__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0px solid red;
    border-radius: 50%;
    box-sizing: border-box;
    transition: All 1s ease;
}

.put {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
}

.door-riddle__line_horizontal .put {
    left: auto;
    right: 0;
    width: 70px;
    height: 100%;
}

.door-riddle__button {
    -webkit-touch-callout: none;
    user-select: none;
}

.door-riddle__button_2 {
    transform: rotate(180deg);
}

.door-riddle__button_check {
    background-color: green;
}

.door-riddle__line_horizontal {
    display: block;
    width: 100%;
}

.door-riddle__line.door-riddle__line_vertical {
    display: inline-block;
    vertical-align: top;
    height: 300px;
    width: 49%;
    text-align: center;
    margin-top: 20px;
}

.door-riddle__line.door-riddle__line_vertical .door-riddle__line__inner {
    width: 66px;
    margin: 0 auto;
    height: 100%;
    padding: 5px;
}

.door-riddle__line.door-riddle__line_vertical:last-child .door-riddle__line__inner{
    transform: rotate(180deg);
}

.popup__content_level_1 .door-riddle__button_2 {
    //transform: translateY(230px);
}

.door-riddle__icon {
    position: absolute;
    width: 50px;
    height: 50px;
    background-size: 100%;
    transform: translateX(0);
    pointer-events: none;
}

.door-riddle__icon_move-right {
    background: url('../img/move-right.svg') center no-repeat;
    top: 15px;
    left: 50%;
    margin-left: -25px;
    background-size: 100%;
}

.door-riddle__icon_move-up {
    background: url('../img/move-up.svg') center no-repeat;
    top: 50%;
    margin-top: -25px;
    left: 10px;
    background-size: 100%;
    transform: rotate(180deg);
}

.door-riddle__icon_move-down {
    background: url('../img/move-down.svg') center no-repeat;
    top: 50%;
    margin-top: -25px;
    left: 10px;
    background-size: 100%;
}

.door-riddle__icon.hidden {
    display: none;
}

.door-riddle__icon.move {
    animation: iconMove 1s linear infinite;
}

.door-riddle__icon.move-up {
    
    animation: iconMoveUp 1s linear infinite;
}

.door-riddle__icon.move-down {
    animation: iconMoveDown 1s linear infinite;
}


.popup__content_level_2 .put {
    width: auto;
    height: 80px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgba(255,255,255, 0.6);
    outline: 2px dashed red;
}

.popup__content_level_3 .door-riddle {
    flex-direction: column;
    justify-content: center;
}

.door-riddle__wall-wrapper {
    width: 100%;
    margin-top: 30px;
}


.door-riddle__wall {
    width: 30%;
    height: 15px;
    background-color: rgba(255,255,255, 0.7);
    margin-bottom: 100px;
}


#interaction {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
}


@keyframes iconMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px);
  }
}

@keyframes iconMoveUp {
  from {
    transform: rotate(180deg) translateY(0);
  }
  to {
    transform: rotate(180deg) translateY(-50px);
  }
}

@keyframes iconMoveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50px);
  }
}

.door-counter {
    position: absolute;
    top; 0;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.door-counter__coin {
    width: 30px;
    height: 30px;
    background: url('../img/hudCoin.png') center no-repeat;
    background-size: 100%;
}

.door-counter__count {
    width: 20px;
    height: 30px;
    background-size: 30px 30px;
    background-position: center;
    background-repeat: no-repeat;
}

.door-counter__count[data-count="0"] {
    background-image: url('../img/hud0.png');
}

.door-counter__count[data-count="1"] {
    background-image: url('../img/hud1.png');
}
.door-counter__count[data-count="2"] {
    background-image: url('../img/hud2.png');
}

.door-counter__count[data-count="3"] {
    background-image: url('../img/hud3.png');
}

.door-counter__count[data-count="4"] {
    background-image: url('../img/hud4.png');
}

.door-counter__count[data-count="5"] {
    background-image: url('../img/hud5.png');
}
.door-counter__count[data-count="6"] {
    background-image: url('../img/hud6.png');
}

.door-counter__count[data-count="7"] {
    background-image: url('../img/hud7.png');
}

.door-circle {
    position: relative;
    width: 280px;
    height: 280px;
    border: 2px dashed #a0653b;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.door-circle__center {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #583319;
    border: 1px solid #F3E9E0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
    transition: background-color .3s;
}

.door-point {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: blue;
}

.door-circle__button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #583319;
    border: 1px solid #F3E9E0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
    transition: background-color .3s;
    position: absolute;
    top: -1.5rem;
    left: 50%;
    margin-left: -1.5rem;
}

.door-circle__button.pressed {
    background-color: #F3E9E0;
}

.door-circle__checkpiont {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('../img/coinGold.png') center no-repeat;
    background-size: 100%;
}

.door-circle__checkpiont.hidden {
    display: none;
}

.door-circle__checkpiont_0 {
    top: calc(13% - 20px);
    left: calc(84% - 20px);
}


.door-circle__checkpiont_1 {
    top: calc(50% - 20px);
    left: calc(100% - 20px);
}

.door-circle__checkpiont_2 {
    left: calc(84% - 20px);
    bottom: calc(13% - 20px);
}

.door-circle__checkpiont_3 {
    top: calc(100% - 20px);
    left: calc(50% - 20px);
}

.door-circle__checkpiont_4 {
    right: calc(84% - 20px);
    bottom: calc(13% - 20px);
}

.door-circle__checkpiont_5 {
    top: calc(50% - 20px);
    right: calc(100% - 20px);
}

.door-circle__checkpiont_6 {
    top: calc(13% - 20px);
    right: calc(84% - 20px);
}

.popup__congratulations {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(88,51,25, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Russo One', sans-serif;
    color: #eee;
}

.popup__congratulations__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
}

.popup__congratulations__text {
    display: flex;
    align-items: center;
    font-size: 30px;
    margin-bottom: 30px;
}

.popup__congratulations__level {
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.popup__congratulations__level_1 {
    background-image: url('../img/hud1.png');
}

.popup__congratulations__button {
    margin: 20px 0;
    border-radius: 10px;
    background-color: #F3e9e0;
    border: 1px solid #583319;
    box-shadow: 0px 0px 3px #583319;
    transition: background-color .3s;
    padding: 10px 20px;
    color: #583319;
}

